@charset "UTF-8";
body {
  font-family: "Noto Sans JP", sans-serif;
  color: #000;
  font-weight: 400;
  background: #333;
}

.u-desktop {
  display: none;
}
@media screen and (min-width: 768px) {
  .u-desktop {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .u-mobile {
    display: none;
  }
}

.u-fz12 {
  font-size: 12px;
  font-size: 0.75rem;
}
@media screen and (min-width: 768px) {
  .u-fz12 {
    font-size: 0.75rem;
  }
}

.u-fz14 {
  font-size: 14px;
  font-size: 0.875rem;
}
@media screen and (min-width: 768px) {
  .u-fz14 {
    font-size: 0.875rem;
  }
}

.u-fz16 {
  font-size: 16px;
  font-size: 1rem;
}
@media screen and (min-width: 768px) {
  .u-fz16 {
    font-size: 1rem;
  }
}

.u-fz18 {
  font-size: 18px;
  font-size: 1.125rem;
}
@media screen and (min-width: 768px) {
  .u-fz18 {
    font-size: 1.125rem;
  }
}

.u-fz20 {
  font-size: 20px;
  font-size: 1.25rem;
}
@media screen and (min-width: 768px) {
  .u-fz20 {
    font-size: 1.25rem;
  }
}

.u-fz22 {
  font-size: 22px;
  font-size: 1.375rem;
}
@media screen and (min-width: 768px) {
  .u-fz22 {
    font-size: 1.375rem;
  }
}

.u-fz24 {
  font-size: 24px;
  font-size: 1.5rem;
}
@media screen and (min-width: 768px) {
  .u-fz24 {
    font-size: 1.5rem;
  }
}

.u-fz26 {
  font-size: 26px;
  font-size: 1.625rem;
}
@media screen and (min-width: 768px) {
  .u-fz26 {
    font-size: 1.625rem;
  }
}

.u-fz28 {
  font-size: 28px;
  font-size: 1.75rem;
}
@media screen and (min-width: 768px) {
  .u-fz28 {
    font-size: 1.75rem;
  }
}

.u-fz30 {
  font-size: 30px;
  font-size: 1.875rem;
}
@media screen and (min-width: 768px) {
  .u-fz30 {
    font-size: 1.875rem;
  }
}

@media (min-width: 600px) {
  a[href*="tel:"] {
    pointer-events: none;
    cursor: default;
  }
}
html.is-screen-locked {
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
}

/* リキッドレイアウト対応 */
html {
  font-size: 16px;
}
@media (max-width: 375px) {
  html {
    font-size: 4.2666666667vw;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 1.4545454545vw;
  }
}
@media (min-width: 1100px) {
  html {
    font-size: 16px;
  }
}

/* pcの電話番号発信対応 */
@media screen and (min-width: 768px) {
  a[href^="tel:"] {
    pointer-events: none;
  }
}

/* ホバー */
a {
  text-decoration: none;
  color: inherit;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-size: medium;
  font-size: initial;
  font-weight: normal;
  font-weight: initial;
}

/* Set core root defaults */
/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Natural flow and rhythm in articles by default */
/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
/* フォームリセット */
textarea {
  resize: vertical;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

.c-hamburger {
  display: inline-block;
  text-decoration: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 25px;
  height: 25px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media screen and (min-width: 768px) {
  .c-hamburger {
    display: none;
  }
}

.c-hamburger__line {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 18px;
  height: 2px;
  background-color: #333;
  -webkit-transition: inherit;
  transition: inherit;
}

.c-hamburger__line::before,
.c-hamburger__line::after {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: inherit;
  content: "";
  -webkit-transition: inherit;
  transition: inherit;
}

.c-hamburger__line::before {
  top: -5px;
}

.c-hamburger__line::after {
  top: 5px;
}

.c-hamburger[aria-expanded=true] .c-hamburger__line {
  background-color: transparent;
}
.c-hamburger[aria-expanded=true] .c-hamburger__line::before, .c-hamburger[aria-expanded=true] .c-hamburger__line::after {
  top: 0;
  background-color: #fff;
}

.c-hamburger[aria-expanded=true] .c-hamburger__line::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.c-hamburger[aria-expanded=true] .c-hamburger__line::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.c-page-top {
  width: 45px;
  width: 2.8125rem;
  height: 45px;
  height: 2.8125rem;
  background: #fff;
  position: fixed;
  bottom: 50px;
  bottom: 3.125rem;
  right: 20px;
  right: 1.25rem;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.c-page-top.is-active {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

.c-page-top span:first-child {
  display: inline-block;
  width: 20px;
  width: 1.25rem;
  height: 2px;
  height: 0.125rem;
  background: #333;
  -webkit-transform: rotate(-45deg) translateX(3px);
          transform: rotate(-45deg) translateX(3px);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.c-page-top span:nth-child(2) {
  display: inline-block;
  width: 20px;
  width: 1.25rem;
  height: 2px;
  height: 0.125rem;
  background: #333;
  -webkit-transform: rotate(45deg) translateX(-3px);
          transform: rotate(45deg) translateX(-3px);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.c-page-top:hover {
  background: #333;
}
.c-page-top:hover span {
  background: #fff;
}

.p-footer {
  padding: 58px 0 32px;
  padding: 3.625rem 0 2rem;
}

.p-footer__logo {
  width: 70px;
  width: 4.375rem;
  margin: auto;
}

.p-footer__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.p-footer__body {
  margin-top: 8px;
  margin-top: 0.5rem;
}

.p-footer__item {
  font-size: 16px;
  font-size: 1rem;
  color: #fff;
  text-align: center;
}

.p-footer__item + .p-footer__item {
  margin-top: 8px;
  margin-top: 0.5rem;
}

.p-footer__copy {
  font-size: 11px;
  font-size: 0.6875rem;
  color: #fff;
  text-align: center;
  padding-bottom: 60px;
  padding-bottom: 3.75rem;
}

@media screen and (min-width: 768px) {
  .p-footer {
    padding: 2rem 2rem 3.75rem;
  }
  .p-footer__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .p-footer__logo {
    width: 4.375rem;
    margin: 0;
    margin: initial;
  }
  .p-footer__body {
    margin-top: 0;
    margin-top: initial;
    margin-left: auto;
  }
  .p-footer__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .p-footer__item {
    text-align: left;
    text-align: initial;
    position: relative;
  }
  .p-footer__item::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    margin-top: 0.3125rem;
    background: yellow;
    opacity: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .p-footer__item:hover::after {
    opacity: 1;
  }
  .p-footer__item + .p-footer__item {
    margin-top: 0;
    margin-top: initial;
    margin-left: 2rem;
  }
  .p-footer__copy {
    font-size: 0.9375rem;
  }
}
.p-header-menu {
  position: fixed;
  width: 100%;
  max-width: 520px;
  max-width: 32.5rem;
  height: 100vh;
  top: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
  color: #fff;
  -webkit-transform: translateX(2000px);
          transform: translateX(2000px);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  z-index: 4;
}

.is-drawerActive .p-header-menu {
  background-color: #000;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

.p-header-menu__items {
  height: inherit;
  padding: 120px 0 100px;
  padding: 7.5rem 0 6.25rem;
}

.p-header-menu__item a {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 10px 0;
  padding: 0.625rem 0;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .p-header-menu {
    position: static;
    position: initial;
    width: auto;
    width: initial;
    max-width: none;
    max-width: initial;
    height: inherit;
    overflow-y: visible;
    overflow-y: initial;
    background-color: transparent;
    background-color: initial;
    color: #fff;
    -webkit-transform: none;
            transform: none;
    -webkit-transform: initial;
            transform: initial;
    -webkit-transition: none 0s ease 0s;
    transition: none 0s ease 0s;
    -webkit-transition: initial;
    transition: initial;
  }
  .p-header-menu__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: inherit;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
  }
  .p-header-menu__item {
    height: inherit;
  }
  .p-header-menu__item::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    margin-top: -0.5rem;
    background: yellow;
    opacity: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .p-header-menu__item:hover::after {
    opacity: 1;
  }
  .p-header-menu__item + .p-header-menu__item {
    margin-left: 1.875rem;
  }
  .p-header-menu__item a {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-decoration: none;
    padding: 0;
  }
  .p-header-menu__btn {
    margin-left: 1.875rem;
    width: 10.625rem;
    height: inherit;
  }
}
.p-header {
  height: 50px;
  height: 3.125rem;
  background: rgba(17, 17, 17, .5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 100;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.p-header.change-color {
  background: #111111;
}

.p-header__inner {
  padding: 0 20px;
  padding: 0 1.25rem;
  height: inherit;
}
@media screen and (min-width: 768px) {
  .p-header__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 1.5625rem;
    padding-right: 0;
  }
}

.p-header__logo {
  width: 70px;
  width: 4.375rem;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .p-header__logo {
    width: 5.9625rem;
  }
}

.p-header__logo img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.p-header__drawer {
  position: absolute;
  top: 25px;
  top: 1.5625rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 20px;
  right: 1.25rem;
  z-index: 101;
}

.p-header__overlay {
  position: fixed;
  z-index: 3;
  width: 100vw;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  height: 100vh;
  background-color: #000;
  color: #fff;
  visibility: hidden;
  opacity: 0;
}

.is-drawerActive .p-header__overlay {
  visibility: visible;
  opacity: 0.8;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

@media screen and (min-width: 768px) {
  .p-header__menu {
    margin-left: auto;
  }
}

.l-inner {
  width: 100%;
  max-width: 600px;
  max-width: 37.5rem;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .l-inner {
    max-width: 1150px;
    padding-right: 25px;
    padding-left: 25px;
  }
}

@media screen and (min-width: 768px) {
  .l-inner--sub {
    max-width: 910px;
    padding-right: 25px;
    padding-left: 25px;
  }
}

.l-parts {
  width: 100%;
  height: 100%;
  background-color: #9cdbe8;
  padding: 100px 0;
  padding: 6.25rem 0;
}

.l-parts__sec {
  padding: 50px 0;
  padding: 3.125rem 0;
}
/*# sourceMappingURL=styles.css.map */
